<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice</title>
</head>
<body>
    <h1>Roll dice</h1>
    <h1>Roll  dice value : <br>
        <%= dice1 %>
    </h1>
    <h1><% if (dice1==6) { %>
     <h1>Nice rolldice Again</h1>
    <% } %></h1>
</body>
</html>