
*{
    align-items: center;
}
h1{
    color:maroon;
    text-align: center;
}
.post{
    text-align: center;
    background-color: blanchedalmond;
    justify-content: space-evenly;
    width: 30rem;
    margin: auto;
    margin-bottom: 2px;
    padding-bottom: 4px;
    border: 2px solid rgb(96, 77, 77);
}
.user{
    font-style: italic;
}
.btn {
    background-color: maroon;
    padding: 10px;
    font-weight: bolder;
    border: 2px solid rgb(96, 77, 77);
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.btn a{
    color: white;
    text-decoration: none;
}   
#btnb{
    margin-left: 45.52%;
}