<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send A message</title>
</head>
<body>
    <h3>Write your message</h3>
    <form action="/chats" method="POST">
        <input placeholder="Who Are You?" name="from" >
        <br><br>
        <textarea name="msg" >Write your message here........</textarea>
        <br><br>
        <input placeholder="Add Receiver" name="To" >
        <br><br>
        <button>Create chat</button>
    </form>
</body>
</html>